# Database
POSTGRES_DB=DATABASE
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_PORT=5432

# Backend
BACKEND_PORT=3001
NEXTAUTH_SECRET=changeme
NEXTAUTH_URL=http://localhost:3000
CLOUDINARY_CLOUD_NAME=changeme
CLOUDINARY_API_KEY=changeme
CLOUDINARY_API_SECRET=changeme

# Frontend
FRONTEND_PORT=3000


# NestJS backend url
NEXT_PUBLIC_API_URL=http://localhost:3001/api